<!DOCTYPE html>
    <html>
        <head>
        <meta charset="utf-8"/>
            <link rel="stylesheet" type="text/css" href="assets/rooms.scss">
            <h1>Chat room</h1>
            <div id='messages' data-room_id="<%= @room.id %>">
            <%= render @messages %>
        </div>
            <div class="balloon5">
            <div class="faceicon">
                <img src="/kao.png">
            </div>
            <div class="chatting">
            <div class="says">
            <p><%= label_tag :content, '下のテキストボックスに自由に書き込んでね！' %></p>
            </div>
            </div>
            </div>
            <%= text_field_tag :content, nil, data: { behavior: 'room_speaker' } %>
        <body></body>
        </head>
    </html>

<li><%= link_to '部屋一覧に戻る', 'javascript:history.back()' %></li>
